#row {
    white-space: nowrap; /* important */
    overflow: auto;
    border-style: ridge;
    width: 50%;
    background-color: rgb(243, 242, 242);
    margin:auto;
    margin-bottom: 20px; 
}

.items {
    display: inline-block;
    text-align: left;
}

img{
    width: 300px;
    height: 300px;
}

p{
    font-display: block;
    font-size: 30px;
    font-style: italic;
}

button {
    background-color: #1f0091; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

  h1{
      color: green;
      text-align: center;
  }

  #next{
    background-color: white; /* Green */
    border: none;
    color: blue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    margin-left:550px;
  }

  #prev{
    background-color: white; /* Green */
    border: none;
    color: blue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    margin-left:350px;
  }